@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

#landing,
#services,
main {
  padding: 2rem;
}

svg {
  display: block;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.btn {
  margin-top: 2rem;
  padding: 0.75rem 2rem;
  background-color: rgb(80 17 204 / 1);
  border-radius: 9999px;
  border: none;
  font-size: 0.875rem;
  font-weight: 700;
  color: rgb(237 242 247 / 1);
}

.purple {
  color: rgb(100 21 255 / 1);
}

.purple__title {
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: rgb(100 21 255 / 1);
}

/* NAVIGATION */

.nav__logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 900;
  color: #243e63;
  transition: all 300ms ease;
}

.nav__logo:hover {
  color: rgb(100 21 255 / 1);
}

.logo {
  width: 40px;
  margin-right: 12px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: flex;
}

.nav__link {
  margin: 0px 1.5rem;
  padding-bottom: 0.25rem;
  border-bottom: 2px solid transparent;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.025em;
  color: #243e63;
  transition: all 300ms ease;
}

.nav__link--space {
  margin-left: 3rem;
}

.nav__link--purple {
  padding: 0.75rem 2rem;
  margin: 0;
  background-color: rgb(100 21 255 / 1);
  border-radius: 9999px;
  border: none;
  color: #fff;
}

.link__hover-effect:hover {
  border-color: rgb(100 21 255 / 1);
  color: rgb(100 21 255 / 1);
}

.split-column {
  display: flex;
  padding: 6rem 0;
}

.split-column-1 {
  width: 40%;
}

.split-column__title {
  font-size: 3rem;
  color: #1a202c;
}

.split-column__para {
  margin: 2rem 0 4rem 0;
  font-size: 1.125rem;
  font-weight: 500;
  color: #243e63;
}

.split-column__para--light {
  font-weight: 400;
}

.trusted-customers {
  margin-top: 5rem;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0em;
  text-transform: uppercase;
  color: rgb(160 174 192 / 1);
}

.trusted-customers__img {
  max-width: 533.33px;
  margin-top: 1rem;
  opacity: 0.5;
}

.split-column-2 {
  width: 60%;
}

.trusted-customers__img,
.split-column-2__img,
.split-column-4__img,
.split-column-5__img,
.split-column-8__img {
  width: 100%;
}

/* SERVICES */

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__sub-title {
  font-size: 3rem;
  font-weight: 900;
  color: #243e63;
}

.features__para {
  max-width: 36rem;
  margin-top: 1rem;
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
  color: #7c8ba1;
}

.service__img--wrapper {
  width: 24px;
  height: 24px;
  border: 2px solid black;
  border-radius: 50%;
  overflow: hidden;
}

.service__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service__title {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.025rem;
}

.service__desc {
  font-weight: 500;
  line-height: 2;
  color: rgb(124 139 161 / 1);
}

/* MAIN */

.split-column-3,
.split-column-4,
.split-column-5,
.split-column-6,
.split-column-7,
.split-column-8 {
  width: 50%;
}

.split-column-3,
.split-column-7 {
  margin-right: 4rem;
}

.split-column-3,
.split-column-6,
.split-column-7 {
  padding: 2rem 0;
}

.sc-2-t,
.sc-3-t {
  margin-top: 1rem;
  font-weight: 900;
  line-height: 1.25;
  color: #243e63;
}

.sc-2-p,
.sc-4-p {
  margin: 2rem 0 0 0;
  color: #7c8ba1;
}

.split-column-4__img--wrapper {
  position: relative;
}

.box-design {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -10;
  height: 5rem;
  width: 5rem;
  transform: translate(50%, 50%) rotate(0) skewX(0) skewY(0) scaleX(1) scaleY(1);
  fill: currentcolor;
  color: rgb(100 21 255 / 1);
}

.split-column-4__img {
  border: 1px solid rgb(226, 232, 240);
  border-radius: 0.25rem;
}

.step {
  display: flex;
  margin-top: 2rem;
}

.split-column-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.split-column-6 {
  margin-left: 4rem;
}

.step__num {
  margin-right: 1.5rem;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1;
  color: rgb(203 213 224 / 1);
}

.step__title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
  color: #243e63;
}

.step__desc {
  margin-top: 0.75rem;
  max-width: 20rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2;
  color: rgb(113 128 150 / 1);
}

.split-column-5__img--wrapper {
  position: relative;
}

.box-design-2 {
  width: 10rem;
  height: 10rem;
  position: absolute;
  left: 50%;
  right: 0px;
  bottom: 0px;
  transform: translate(-50%, 50%) rotate(0) skewX(0) skewY(0) scaleX(1)
    scaleY(1);
  opacity: 0.15;
  fill: currentcolor;
  color: rgb(100 21 255 / 1);
  z-index: -10;
}

.values {
  display: flex;
  margin-top: 2rem;
}

.value-1,
.value-2 {
  width: 50%;
}

.value-1 {
  margin-right: 2rem;
}

.value-container {
  display: flex;
  align-items: center;
}

.value__icon--wrapper {
  padding: 0.5rem;
  border-radius: 9999px;
}

.value__icon--green {
  background-color: rgb(154 230 180 / 1);
  color: rgb(39 103 73 / 1);
}

.value__icon--red {
  background-color: rgb(254 178 178 / 1);
  color: rgb(155 44 44 / 1);
}

.value__icon {
  height: 1.25rem;
  width: 1.25rem;
}

.value__title {
  margin-left: 0.75rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: #243e63;
}

.value__desc {
  margin-top: 1rem;
  line-height: 1.625;
  color: rgb(113 128 150 / 1);
}

.split-column-8 {
  display: flex;
  align-items: center;
}

.sc-5 {
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
}

.card {
  width: calc(100% / 3);
  max-width: 24rem;
  position: relative;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: rgb(255 255 255 / 1);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000, 0 0 #0000,
    0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.card__highlight {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card__highlight--green {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.card__highlight--red {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.card-top {
  padding: 2rem 0;
}

.card__name {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.card__price {
  margin-top: 0.25rem 0;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.card__duration {
  font-weight: 700;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  color: rgb(160 174 192 / 1);
}

.card__feature {
  margin-top: 1.25rem;
  font-weight: 500;
  text-align: center;
  color: rgb(113 128 150 / 1);
}

.main-feature {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #000;
}

.card-mid {
  padding: 2rem;
  border-top: 2px solid rgb(226, 232, 240);
  border-bottom: 2px solid rgb(226, 232, 240);
}

.card-end {
  padding: 2rem 1rem;
  text-align: center;
}

.price-btn {
  width: 100%;
  max-width: 192px;
  padding: 1rem 2rem;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  border-radius: 9999px;
  border: none;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: rgb(247 250 252 / 1);
}

.card:nth-child(2) {
  background: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  background-color: rgb(100 21 255 / 1);
}

.bc {
  border-color: rgb(102 126 234 / 1);
}

.white {
  color: #fff;
}

.price-btn--red {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.price-btn--white {
  background: rgb(247 250 252 / 1);
  color: rgb(100 21 255 / 1);
}
